@model IEnumerable<CustomerType>
@{
    ViewData["Title"] = "Index";
}

<h1>Custome Type</h1>
@Html.ActionLink("Crear tipo Cliente","Create","CustomeType")

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">descripcion</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var items in Model)
        {
            <tr>
                <th scope="row">@items.Id</th>
                <td>@items.Description</td>
                <td>@Html.ActionLink("Edita","Details","CustomeType", new { @items.Id })</td>
                <td><a href="" @items.Id>eliminar</a></td>
            </tr>
        }

    </tbody>
</table>




